@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.open-btn {
  background-color:#e1a455;;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.modal-container {
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: slide-up 0.5s ease;
  font-family: 'Prata', sans-serif;
  position: relative; /* Додаємо цей рядок */
}

.close-btn {
  background: transparent;
  color: black;
  font-size: 14px;
  position: absolute;
  top: 5px; /* Зменшуємо вертикальний відступ для центру */
  right: 14px; /* Зменшуємо горизонтальний відступ для центру */
  cursor: pointer;
  border: none; /* Видаляємо обводку */
  padding: 0; /* Видаляємо внутрішні відступи (попередні стилі були додатковими) */
}


.modal h1 {
  margin: 0;
  font-size: 20px;
  max-width: 100%;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}



/* Нова анімація для закриття згори вниз */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
